@page "/TaskForm"
<style>
    #task {
        width: 90%;
        align-items: center;
        justify-content: center;
    }

        #task form {
            width: 100%;
            padding: 5px;
            box-shadow: 2px 2px 5px #0C6291;
            border-radius: 10px;
        }

    input {
        margin-top: 5px;
    }

    textarea {
        margin-top: 5px;
    }

    #confirmar {
        background-color: #297045;
        color: #FBFEF9;
        margin-right: 4px;
        margin-top: 5px;
    }

    #cancelar {
        background-color: #A30000;
        color: #FBFEF9;
        margin-left: 4px;
        margin-top: 5px;
    }
</style>
<div class="container" id="task">
    <form action="post">
        <input class="form-control" type="text" placeholder="Nome do projeto">
        <textarea class="form-control" id="descricao" placeholder="Descricao ....."></textarea>

        <div id="buttons " class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="confirmar" class="btn btn-secondary" @onclick="Confirmar">Confirmar</button>
            <button type="button" id="cancelar" class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
        </div>
    </form>
</div>



@code{
    private void Confirmar()
    {
    }

    private void Cancelar()
    {
    }

}
